<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Latest Geek News</title>
  <meta name="keywords" content="web scraping,mongodb,mongoose,handlebars">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Moment.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    

  
</head>

<body>
  
  <div class="jumbotron">
      <h1 class="text-center">Hot Tech News for Geeks</h1>
      <img src="assets/img/news-images.png" class="img-responsive" width="200" height="200" style="margin:0 auto;"/>
      </div>
      {{{ body }}}
  <div class="container text-center remy-logo">
    <footer>
      <p> Copyright &copy; 2017 YOUSRA</p>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js "></script>
{{!<script type="text/javascript " src="js/burger.js "></script>--}}
   {{!-- <script type="text/javascript " src="js/lend.js "></script>
  // <script type="text/javascript " src="js/borrow.js "></script>
  // <script type="text/javascript " src="js/signup.js "></script> --}}



